body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: black;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    height: 100vh;
}

.tictactoe {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    justify-content: center;
    background-color: black;
}

#title {
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
}

#player {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.playerChose {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    width: 80px;    
    height: 60px;
}

.playerChose:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    cursor: pointer;
}

.playerChose p {
    margin: 0px;
}

.sq {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

.sq p {
    margin: 0px;
}

.sq.no-r {
    border-right: none;
}

.sq.no-b {
    border-bottom: none;
}

.sq:hover {
    cursor: pointer;
}

.start {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 40px;
    margin-top: 30px;
}

.start:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    cursor: pointer;
}

.level {
    margin-top: 40px;
}

.levelBtn {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 40px;
    width: 100px;
}

.levelBtn:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    cursor: pointer;
}

@media (max-width: 650px) {
    .start {
        font-size: 15px;
    }
    .levelBtn {
        font-size: 15px;
    }
}

.result {
    display: flex;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    background-color: white;
    color: black;
    border-radius: 0px;
    margin-top: 50px;
    width: 100vh;
    padding: 5px 0px 5px 0px;
    justify-content: center;
}